<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register Page</title>
  </head>
  <body>
    <form action="/yourshed/register" method="post">
      <label for="username">Enter your Username : </label>
      <input name="username" type="text" id="username" /> <br />
      <label for="email">Enter your email : </label>
      <input name="email" type="email" id="email" /> <br />
      <label for="password">Enter your password :</label>
      <input name="password" type="password" id="password" /> <br />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
